# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# PyCharm
.idea/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Log files
*.log

# Pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# mypy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints
